---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on an VKCS Volume.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/blockstorage/volume/main-datasource.tf"}}

{{ .SchemaMarkdown }}
