---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on a db user.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}
