---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages kubernetes cluster addons.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}

## Import

Cluster addons can be imported using the `id` in the form `<cluster-id>/<cluster-addon-id>`, e.g.

{{codefile "shell" "templates/kubernetes/resources/vkcs_kubernetes_addon/import.sh"}}
