---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a kubernetes cluster.
---

# {{.Name}}

{{ .Description }}

## Standard Kubernetes cluster
{{tffile "examples/kubernetes/cluster/standard/main.tf"}}

## Regional Kubernetes cluster
{{tffile "examples/kubernetes/cluster/regional/main.tf"}}

{{ .SchemaMarkdown }}

## Import

Clusters can be imported using the `id`, e.g.

{{codefile "shell" "templates/kubernetes/resources/vkcs_kubernetes_cluster/import.sh"}}
