---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages clusters node group.
---

# {{.Name}}

> **Warning**
> This resource is intended for first-generation VKCS Kubernetes clusters and should not be used for new deployments. Use the `v2` version instead.

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}
{{ .SchemaMarkdown }}

## Import

Node groups can be imported using the `id`, e.g.

{{codefile "shell" "templates/kubernetes/resources/vkcs_kubernetes_node_group/import.sh"}}
