---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a ML Platform JupyterHub instance resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}

## Import

ML Platform JupyterHub instance can be imported using the `id`, e.g.
{{codefile "shell" "templates/mlplatform/resources/vkcs_mlplatform_jupyterhub/import.sh"}}
