---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on an VKCS backup plan.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/vkcs_backup_plan/data.tf"}}

{{ .SchemaMarkdown }}
