---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on an VKCS backup providers.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/backup/providers/datasource/main.tf"}}

{{ .SchemaMarkdown }}
