---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a listener resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}
{{ .SchemaMarkdown }}

## Import

Load Balancer Listener can be imported using the Listener ID, e.g.:

{{codefile "shell" "templates/lb/resources/vkcs_lb_listener/import.sh"}}
