---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a pool resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}
{{ .SchemaMarkdown }}

## Import

Load Balancer Pool can be imported using the Pool ID, e.g.:

{{codefile "shell" "templates/lb/resources/vkcs_lb_pool/import.sh"}}
