---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a member resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}
{{ .SchemaMarkdown }}

## Import

Load Balancer Pool Member can be imported using the Pool ID and Member ID separated by a slash, e.g.:

{{codefile "shell" "templates/lb/resources/vkcs_lb_member/import.sh"}}
