*.dll
*.exe
.DS_Store
example.tf
.terraform*
terraform.tfplan
terraform.tfstate
terraform-provider-vkcs_darwin
terraform-provider-vkcs_linux
terraform-provider-vkcs_windows
vkcs_provider.tf
bin/
*.backup
./*.tfstate
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
release-notes.txt
.vscode/
vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
dist/
