*.dll
*.exe
.DS_Store
example.tf
main.tf
vars.tf
.terraform*
terraform.tfplan
terraform.tfstate
terraform-provider-vkcs_darwin
terraform-provider-vkcs_linux
terraform-provider-vkcs_windows
bin/
*.backup
./*.tfstate
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
dist/
