[submodule "automation"]
	path = automation
	url = ../terraform-provider-ci.git
	branch = autodoc
[submodule "automation-docs-generator"]
	path = automation-docs-generator
	url = ../terraform-plugin-docs.git
