---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on VKCS bare metal flavors.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/baremetal/flavors/main-datasource.tf"}}

{{ .SchemaMarkdown }}
