---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on a VKCS bare metal server.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/baremetal/server/basic/main-datasource.tf"}}

{{ .SchemaMarkdown }}
