---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on a VKCS bare metal flavor.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/baremetal/flavor/main-datasource.tf"}}

{{ .SchemaMarkdown }}
