---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a Server Group resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}
{{ .SchemaMarkdown }}
## Policies

* `affinity` - All instances/servers launched in this group will be hosted on the same compute node.

* `anti-affinity` - All instances/servers launched in this group will be hosted on different compute nodes.

* `soft-affinity` - All instances/servers launched in this group will be hosted on the same compute node if possible, but if not possible they still will be scheduled instead of failure.

* `soft-anti-affinity` - All instances/servers launched in this group will be hosted on different compute nodes if possible, but if not possible they still will be scheduled instead of failure.

## Import

Server Groups can be imported using the `id`, e.g.
{{codefile "shell" "templates/compute/resources/vkcs_compute_servergroup/import.sh"}}
