---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Attaches a Network Interface to an Instance.
---

# {{.Name}}

{{ .Description }}

## Example Usage
### Attachment Using an Existing Port
{{tffile .ExampleFile}}

### Attachment Using a Network ID
{{tffile "examples/compute/interface_attach/main-network.tf"}}

Attaching multiple interfaces will not guarantee that interfaces are attached in
a deterministic manner. The interfaces will be attached in a seemingly random
order.
If you want to ensure that interfaces are attached in a given order, create
explicit dependencies between the interfaces , such as in virtual machines/vkcs_compute_volume_attach

## Import

Interface Attachments can be imported using the Instance ID and Port ID separated by a slash, e.g.
{{codefile "shell" "templates/compute/resources/vkcs_compute_interface_attach/import.sh"}}
