---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on an Shared File System share.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/sharedfilesystem/share/main-datasource.tf"}}

{{ .SchemaMarkdown }}
