---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on a VKCS router.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/networking/router/main-datasource.tf"}}

{{ .SchemaMarkdown }}
