---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on a VKCS SDNs.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/networking/sdn/main.tf"}}

{{ .SchemaMarkdown }}
