---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information of an VKCS Port.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/networking/port/main-datasource.tf"}}

{{ .SchemaMarkdown }}
