---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information about a KMS key within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/kms/key/main-datasource.tf"}}

{{ .SchemaMarkdown }}
