---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information about a KMS secret within VKCS.
---

# {{.Name}}

{{ .Description }}

Secret values in `data_json` are stored in Terraform state. This field is not marked as sensitive in the schema.

## Example Usage

{{tffile "examples/kms/secret/main.tf"}}

{{ .SchemaMarkdown }}
