---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a public DNS zone.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile "examples/vkcs_publicdns/zone.tf"}}
{{ .SchemaMarkdown }}

## Import

Public DNS zones can be imported using the `id`, e.g.

{{codefile "shell" "examples/vkcs_publicdns/import_zone.sh"}}
