---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on a Key secret resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}

## Date Filters

The values for the `expiration_filter`, `created_at_filter`, and
`updated_at_filter` parameters are comma-separated lists of time stamps in
RFC3339 format. The time stamps can be prefixed with any of these comparison
operators: *gt:* (greater-than), *gte:* (greater-than-or-equal), *lt:*
(less-than), *lte:* (less-than-or-equal).

For example, to get a passphrase a Secret with CBC moda, that will expire in
January of 2020:

```hcl
data "vkcs_keymanager_secret" "date_filter_example" {
  mode              = "cbc"
  secret_type       = "passphrase"
  expiration_filter = "gt:2020-01-01T00:00:00Z"
}
```
