---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Creates a routing entry on a VKCS router.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}

## Notes

The `next_hop` IP address must be directly reachable from the router at the ``vkcs_networking_router_route``
resource creation time.  You can ensure that by explicitly specifying a dependency on the ``vkcs_networking_router_interface``
resource that connects the next hop to the router, as in the example above.

## Import

Routing entries can be imported using a combined ID using the following format: ``<router_id>-route-<destination_cidr>-<next_hop>``0

{{codefile "shell" "templates/network/resources/vkcs_networking_router_route/import.sh"}}
