---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on a VKCS CDN origin group.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/cdn/origin_group/main-datasource.tf"}}

{{ .SchemaMarkdown }}
