---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on a VKSC CDN SSL certificate.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/cdn/ssl_certificate/main-datasource.tf"}}

{{ .SchemaMarkdown }}
