---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on available VKCS images
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/images/images/datasource/main.tf"}}

{{ .SchemaMarkdown }}
