---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on an VKCS Image.
---

# {{.Name}}

{{ .Description }}

## Example Usage
### VKCS provided image
{{tffile "examples/images/image/datasource/main.tf"}}
### User image
{{tffile "examples/images/image/main-datasource.tf"}}

{{ .SchemaMarkdown }}
