---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on images available within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/images/images/datasource/main.tf"}}

{{ .SchemaMarkdown }}
