---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a key secret resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
### Private key for TERMINATED_HTTPS loadbalancer listener
{{tffile .ExampleFile}}

### Certificate for TERMINATED_HTTPS loadbalancer listener
{{tffile "examples/keymanager/secret/main-cert.tf"}}

{{ .SchemaMarkdown }}

## Import

Secrets can be imported using the secret id (the last part of the secret reference), e.g.:

{{codefile "shell" "templates/keymanager/resources/vkcs_keymanager_secret/import.sh"}}
