---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a key container resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
The container with the TLS certificate and private key which can be used by the loadbalancer HTTPS listener.
{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}

## Import

Containers can be imported using the container id (the last part of the container reference), e.g.:

{{codefile "shell" "templates/keymanager/resources/vkcs_keymanager_container/import.sh"}}
