---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on an VKCS Direct Connect API Options.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/dc/api_options/datasource/main.tf"}}

{{ .SchemaMarkdown }}
