---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Configure a Shared File System share access list.
---

# {{.Name}}

{{ .Description }}

## Example Usage
### NFS
{{tffile "templates/sharedfilesystem/resources/vkcs_sharedfilesystem_share_access/nfs/main.tf"}}

### CIFS
{{tffile "templates/sharedfilesystem/resources/vkcs_sharedfilesystem_share_access/cifs/main.tf"}}

{{ .SchemaMarkdown }}

## Import

This resource can be imported by specifying the ID of the share and the ID of the share access, separated by a slash, e.g.:

{{codefile "shell" "templates/sharedfilesystem/resources/vkcs_sharedfilesystem_share_access/import.sh"}}
