---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a backup plan resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
### Incremental backup for compute instance
{{tffile .ExampleFile}}

### Full backup with GFS retention policy for compute instance
{{tffile "examples/backup/plan/gfs/main.tf"}}

### Backup for db instance
{{tffile "examples/backup/plan/db/main.tf"}}

{{ .SchemaMarkdown }}

## Import

Backup plan can be imported using the `name`, e.g.
{{codefile "shell" "templates/backup/resources/vkcs_backup_plan/import.sh"}}
