---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on an VKCS Flavor.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/vkcs_compute_flavor/main.tf"}}

{{ .SchemaMarkdown }}
