---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on an VKCS Instance
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/compute/instance/basic/main-datasource.tf"}}

{{ .SchemaMarkdown }}
