---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a blockstorage volume.
---

# {{.Name}}

{{ .Description }}

## Example Usage

### Create an empty volume
{{tffile .ExampleFile}}

### Create bootable volume
{{tffile "examples/blockstorage/volume/main-bootable.tf"}}

{{ .SchemaMarkdown }}

## Import

Volumes can be imported using the `id`, e.g.

{{codefile "shell" "templates/blockstorage/resources/vkcs_blockstorage_volume/import.sh"}}

After the import you can use ```terraform show``` to view imported fields and write their values to your .tf file.
