---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on a VKCS IAM S3 account.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/iam/s3_account/main-datasource.tf"}}

{{ .SchemaMarkdown }}
