---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Configure a Shared File System share network.
---

# {{.Name}}

{{ .Description }}

## Example Usage
### Basic share network
{{tffile .ExampleFile}}

### Share network with associated security services
{{tffile "templates/resources/vkcs_sharedfilesystem_sharenetwork/with_security_services/main.tf"}}
{{ .SchemaMarkdown }}

## Import

This resource can be imported by specifying the ID of the share:

{{codefile "shell" "templates/resources/vkcs_sharedfilesystem_sharenetwork/import.sh"}}
