---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a subnet resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}
{{ .SchemaMarkdown }}

## Import

Subnets can be imported using the `id`, e.g.

{{codefile "shell" "templates/resources/vkcs_networking_subnet/import.sh"}}
