---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a router interface resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}

## Import

Router Interfaces can be imported using the port `id`, e.g.

{{codefile "shell" "templates/resources/vkcs_networking_router_interface/import.sh"}}
