---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages an Image resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile .ExampleFile}}
{{ .SchemaMarkdown }}

## Notes
### Properties

This resource supports the ability to add properties to a resource during creation as well as add, update, and delete properties during an update of this resource.

## Import

Images can be imported using the `id`, e.g.

{{codefile "shell" "templates/resources/vkcs_images_image/import.sh"}}
