---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a key secret resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
### Simple secret
{{tffile .ExampleFile}}

### Secret with whitespaces
{{tffile "templates/resources/vkcs_keymanager_secret/whitespaces/main.tf"}}

### Secret with the expiration date
{{tffile "templates/resources/vkcs_keymanager_secret/expiration/main.tf"}}

### Secret with the ACL
~> **Note** Only read ACLs are supported
{{tffile "templates/resources/vkcs_keymanager_secret/acl/main.tf"}}

{{ .SchemaMarkdown }}

## Import

Secrets can be imported using the secret id (the last part of the secret reference), e.g.:

{{codefile "shell" "templates/resources/vkcs_keymanager_secret/import.sh"}}
