---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages clusters node group.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}
{{ .SchemaMarkdown }}

## Import

Node groups can be imported using the `id`, e.g.

{{codefile "shell" .ImportFile}}
