---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Attaches a Network Interface to an Instance.
---

# {{.Name}}

{{ .Description }}

## Example Usage
### Basic Attachment
{{tffile "templates/resources/vkcs_compute_interface_attach/basic/main.tf"}}

### Attachment Specifying a Fixed IP
{{tffile "templates/resources/vkcs_compute_interface_attach/fixed_ip/main.tf"}}

### Attachment Using an Existing Port
{{tffile "templates/resources/vkcs_compute_interface_attach/existing_port/main.tf"}}

### Attaching Multiple Interfaces
{{tffile "templates/resources/vkcs_compute_interface_attach/multiple_interfaces/main.tf"}}

Note that the above example will not guarantee that the ports are attached in a deterministic manner. The ports will be attached in a seemingly random order.

If you want to ensure that the ports are attached in a given order, create explicit dependencies between the ports, such as:
{{tffile "templates/resources/vkcs_compute_interface_attach/multiple_interfaces_ordered/main.tf"}}
{{ .SchemaMarkdown }}

## Import

Interface Attachments can be imported using the Instance ID and Port ID separated by a slash, e.g.
{{codefile "shell" "templates/resources/vkcs_compute_interface_attach/import.sh"}}
