---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages an Endpoint Group resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}
{{ .SchemaMarkdown }}

## Import

Groups can be imported using the `id`, e.g.

{{codefile "shell" "templates/resources/vkcs_vpnaas_endpoint_group/import.sh"}}
