---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a loadbalancer resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}
{{ .SchemaMarkdown }}

## Import

Load Balancer can be imported using the Load Balancer ID, e.g.:

{{codefile "shell" "templates/resources/vkcs_lb_loadbalancer/import.sh"}}
