---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a direct connect interface resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile "examples/dc/interface/main.tf"}}

## Connect dc router to Internet
{{tffile "examples/dc/interface/internet_connection/main.tf"}}

{{ .SchemaMarkdown }}

## Import

Direct connect interface can be imported using the `name`, e.g.
{{codefile "shell" "templates/dc/resources/vkcs_dc_interface/import.sh"}}
