---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a direct connect BGP static announce resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}

## Import

Direct connect BGP instance can be imported using the `id`, e.g.
{{codefile "shell" "templates/dc/resources/vkcs_dc_bgp_static_announce/import.sh"}}
