---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a db backup.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile .ExampleFile}}
{{ .SchemaMarkdown }}

## Import

Backups can be imported using the `id`, e.g.

{{codefile "shell" "templates/db/resources/vkcs_db_backup/import.sh"}}

After the import you can use ```terraform show``` to view imported fields and write their values to your .tf file.
