---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a db cluster with shards.
---

# {{.Name}}

{{ .Description }}

## Example Usage
### Basic cluster with shards
{{tffile .ExampleFile}}

### Cluster with shards restored from backup
{{tffile "templates/db/resources/vkcs_db_cluster_with_shards/cluster_from_backup/main.tf"}}
{{ .SchemaMarkdown }}

## Import

Clusters can be imported using the `id`, e.g.

{{codefile "shell" "templates/db/resources/vkcs_db_cluster_with_shards/import.sh"}}

After the import you can use ```terraform show``` to view imported fields and write their values to your .tf file.

You should at least add following fields to your .tf file:

`name, datastore`, and for each shard add: `shard_id, size, flavor_id, volume_size, volume_type`

Please, use `"IMPORTED"` as value for `volume_type` field.
