---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a db cluster.
---

# {{.Name}}

{{ .Description }}

## Example Usage
### Basic cluster
{{tffile "examples/db/cluster/postgres/main.tf"}}

### Cluster restored from backup
{{tffile "templates/db/resources/vkcs_db_cluster/cluster_from_backup/main.tf"}}

### Cluster with scheduled PITR backup
{{tffile "examples/db/cluster/with_scheduled_pitr_backup/main.tf"}}

### Multi-zone PostgreSQL cluster
In order to improve reliability and fault tolerance, you can set up a cluster in multiple availability zones.
To achieve this, use the specific datastore combined with list of availability zones to deploy into.
To get the cluster IP address, use the "vrrp_port_id" attribute.
{{tffile "examples/db/cluster/multiaz/main.tf"}}

{{ .SchemaMarkdown }}

## Import

Clusters can be imported using the `id`, e.g.

{{codefile "shell" "templates/db/resources/vkcs_db_cluster/import.sh"}}

After the import you can use ```terraform show``` to view imported fields and write their values to your .tf file.

You should at least add following fields to your .tf file:

`name, flavor_id, cluster_size, volume_size, volume_type, datastore`

Please, use `"IMPORTED"` as value for `volume_type` field.
