---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages an Endpoint Group resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
### Use Remote endpoint group
{{tffile .ExampleFile}}

### Use Local (private) endpoint group
{{tffile "examples/vpnaas/endpoint_group/subnet/main.tf"}}
{{ .SchemaMarkdown }}

## Import

Groups can be imported using the `id`, e.g.

{{codefile "shell" "templates/vpnaas/resources/vkcs_vpnaas_endpoint_group/import.sh"}}
