---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information about region.
---

# {{.Name}}

{{ .Description }}

## Example Usage

The following example shows how the resource might be used to obtain the name of the VKCS region configured on the provider.

{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}
