---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get a list of availability zones from VKCS
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}
