---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on configuration parameters supported for a VKCS db datastore.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}
