---
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on clusters node group.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}
{{ .SchemaMarkdown }}
