---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a CDN resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}

## Using a Let's Encrypt certificate

To issue a free [Let's Encrypt](https://letsencrypt.org/) certificate, specify "lets_encrypt" as 
the value for `ssl_certificate.type` argument. The certificate will be issued after the CDN 
resource is established, once the origin servers are available and DNS changes involving the 
CNAME records for personal domains have propagated.

~> **Note:** The option is only available for an active CDN resource, to achieve this, set the 
value of `active` argument to "true".

## Configuring ACLs

To enhance security, you can specify Access Control Lists (ACLs) options. All of the follow the 
same principles: when `policy_type` is "allow", it means that CDN server will allow access for all 
possible values of ACL subject except for those specified in `excepted_values` argument, and when 
`policy_type` is "deny", CDN will deny access with the same logic for excepted values.

### Example Configuration

For example, to protect content from unauthorized access from certain countries, you could use 
`country_acl` option:

```hcl
resource "vkcs_cdn_resource" "resource" {
  ...
  options = {
    country_acl = {
      policy_type     = "allow"
      excepted_values = ["GB", "DE"]
    }
  }
  ...
}

## Import

A CDN resource can be imported using the `id`, e.g.
{{codefile "shell" "templates/cdn/resources/vkcs_cdn_resource/import.sh"}}
