---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a CDN origin group within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}

## Import

An origin group can be imported using the `id`, e.g.
{{codefile "shell" "templates/cdn/resources/vkcs_cdn_resource/import.sh"}}
