---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a dataplatform cluster
---

# {{.Name}}

~> **Note:** Dataplatform cluster resource is currently in beta status.

{{ .Description }}

## Example Usage

# ClickHouse
{{tffile "examples/dataplatform/main-clickhouse.tf"}}

See more examples on [GitHub](https://github.com/vk-cs/terraform-provider-vkcs/tree/master/examples/dataplatform/cluster).

Refer to the `Setting up Data Platform products` guide for details of using the resource in combination with Data Platform datasources.

{{ .SchemaMarkdown }}

## Import

A Dataplaform cluster can be imported using the `id`, e.g.
{{codefile "shell" "templates/dataplatform/resources/vkcs_dataplatform_cluster/import.sh"}}

**Note:** Please, use `IMPORTED_PASSWORD` as value for external users' passwords.