---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a dataplatform cluster
---

# {{.Name}}

{{ .Description }}

## Example Usage

# Spark
{{tffile .ExampleFile}}

{{ .SchemaMarkdown }}

## Import

A Dataplaform cluster can be imported using the `id`, e.g.
{{codefile "shell" "templates/dataplatform/resources/vkcs_dataplatform_cluster/import.sh"}}
