---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Manages a floating IP resource within VKCS.
---

# {{.Name}}

{{ .Description }}

## Example Usage
### Simple floating IP allocation
{{tffile .ExampleFile}}

### Floating IP allocation with association to port

{{tffile "examples/networking/floatingip/main-with-port.tf"}}

{{ .SchemaMarkdown }}

## Import

Floating IPs can be imported using the `id`, e.g.

{{codefile "shell" "templates/networking/resources/vkcs_networking_floatingip/import.sh"}}
