---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on a kubernetes cluster addon.
---

# {{.Name}}

> **Warning**  
> This data source is intended for first-generation VKCS Kubernetes clusters and should not be used for new deployments. Use the `v2` version instead.

{{ .Description }}

## Example Usage

{{tffile "examples/kubernetes/addon/data-addon.tf"}}

{{ .SchemaMarkdown }}
