---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Use this data source to retrieve information about available VKCS Kubernetes node group root volume types.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile "examples/kubernetes/volume_types_v2/main.tf"}}

{{ .SchemaMarkdown }}
