---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on kubernetes cluster addons.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/kubernetes/addon/data-addons.tf"}}

{{ .SchemaMarkdown }}
