---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on cluster.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile "examples/kubernetes/cluster/standard/main-datasource.tf"}}

{{ .SchemaMarkdown }}
