---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Use this data source to retrieve information about VKCS Kubernetes cluster versions.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile "examples/kubernetes/versions_v2/main.tf"}}

{{ .SchemaMarkdown }}
