---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on an VKCS kubernetes cluster template.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/kubernetes/clustertemplate/main.tf"}}
{{ .SchemaMarkdown }}
