---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on cluster v2.
---

# {{.Name}}

{{ .Description }}

## Example Usage
{{tffile "examples/kubernetes/cluster_v2/standard/datasource.tf"}}

{{ .SchemaMarkdown }}
