---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on VKCS Data Platform product.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/dataplatform/product/main-datasource.tf"}}

{{ .SchemaMarkdown }}
