---
subcategory: "{{.SubCategory}}"
layout: "vkcs"
page_title: "vkcs: {{.Name}}"
description: |-
  Get information on a dataplatform products.
---

# {{.Name}}

{{ .Description }}

## Example Usage


{{ .SchemaMarkdown }}
